/* App.css */
.App {
  display: grid;
  grid-template-columns: 1fr; /* One column layout */
  grid-template-rows: auto 50px 1fr 50px; /* Defines the height for header, nav, main, and footer */
  grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
  height: 100vh; /* Make sure the app covers full height */
}

/* Assigning grid areas to components */
header {
  grid-area: header;
  background-color: #f7e6c4;
  text-align: center;
  padding: 10px;
  color: red;
  font-weight: normal;
}

nav {
  grid-area: nav;
  background-color: #f9f2d7;
  text-align: center;
}

main {
  grid-area: main;
  background-color: #fff7e0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  grid-area: footer;
  background-color: #f0e5c2;
  text-align: center;
  padding: 10px;
}
